*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Gothic A1, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
ul {
  margin: 0px;
}

/* Цвет шапки basic rgba(255, 255, 255, 1); */
/* Цвет заголовков rgba(0, 0, 0, 1) */
/* Цвет параграфов rgba(107, 107, 107, 1) */
/* Цвет цифр rgba(51, 51, 51, 1) */
/* Доп цвет rgba(168, 168, 168, 1) */

:root {
  --basic: rgba(255, 255, 255, 1);
  --additional: rgba(168, 168, 168, 1);
  --promotion: rgba(27, 27, 27, 1);
  --button: rgba(252, 10, 126, 1);
  --paragraph-color: rgba(107, 107, 107, 1);
  --titles-color: rgba(0, 0, 0, 1);
  --number: rgba(51, 51, 51, 1);
}

.container {
  color: var(--paragraph-color);
  max-width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}

.background {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%),
    #cf0063;
}

/* <!-- Шапка сайта --> */

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-top: 29px;
  padding-bottom: 28px;
  /* margin-right: 665px; */
  margin-left: 144px;
}

.header-list {
  display: flex;
  margin-right: 159px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-left: 0px;
}

.header-list .header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--basic);
}

/* <!-- Герой --> */

.hero {
  display: flex;
  justify-content: space-around;
}

.hero-page {
  margin-left: 144px;
  margin-bottom: 10px;
  color: var(--basic);
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
}

.hero-paragraph {
  margin-left: 144px;
  color: var(--basic);
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}

.hero-button {
  margin-left: 144px;
  padding: 20px 40px;
  border-radius: 3px;
  color: var(--basic);
  background-color: var(--button);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.hero-arrow {
  display: flex;
  justify-content: center;
}

.arrow {
  margin-bottom: 30px;
}

/* <!-- Реклама --> */
.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--promotion);
  margin-bottom: 60px;
}

.promotion-page {
  margin-top: 100px;
  margin-bottom: 30px;
  color: var(--additional);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.promotion-paragraph {
  margin-bottom: 55px;
  color: var(--basic);
  font-size: 38px;
  line-height: 48px;
  text-align: center;
}

/* <!-- Описание услуг --> */
.section-services {
  display: flex;
  flex-direction: column;
  margin-bottom: 159px;
}
.services-list-first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services-list-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.services-page {
  color: var(--additional);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.services-banner {
  color: var(--titles-color);
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 22px;
}

.services-paragraph {
  font-size: 16px;
  line-height: 30px;
}

/* <!-- Описание статистики --> */

.statistics {
  display: flex;
  margin-bottom: 160px;
}
.statistics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-img {
  margin-bottom: 40px;
}

.statistics-page {
  color: var(--titles-color);
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.statistics-paragraph {
  margin-right: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* Времнной график */

.section-time {
  margin-bottom: 160px;
}

.time {
  display: flex;
  justify-content: space-evenly;
}
.time-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- О еде --> */
.time-paragraph {
  color: var(--number);
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;
  margin: 0px 0px 24px 0px;
}
.time-list {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

/* <!-- О еде --> */

.about-eat {
  margin-bottom: 162px;
}

.section-eat {
  display: flex;
  flex-direction: column;
}

.eat-list {
  display: flex;
  align-items: center;
  margin-left: 202px;
  margin-bottom: 161px;
}
.eat-page {
  color: var(--additional);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.eat-page-mini {
  color: var(--titles-color);
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
}

.eat-paragraph {
  margin-right: 82px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.eat-img {
  margin-right: 243px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.eat-list-two {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 278px;
}
.eat-page-two {
  color: var(--additional);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.eat-page-mini-two {
  color: var(--titles-color);
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
}

.eat-paragraph-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.eat-img-two {
  margin-left: 164px;
  margin-right: 77px;
}

/* <!-- О нас --> */

.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.quotes {
  margin-bottom: 65px;
}
.quotes-paragraph {
  margin: 0px 370px 17px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.author {
  display: flex;
  margin-bottom: 102px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.rectangle {
  margin: 0px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.dot {
  margin-bottom: 142px;
}

.dot-list {
  margin-right: 16px;
}

.Panel {
  margin: 0px 118px 0px 216px;
}

/* <!-- Подпишись --> */
.subscribe {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%),
    #cf0063;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 165px;
  background-image: url('../images/group-test.svg');
  background-repeat: repeat-y;
}

.subscribe-page {
  margin: 0px;
  padding-bottom: 60px;
  color: var(--basic);
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
}
.subscribe-button {
  display: flex;
  align-items: center;
  margin-bottom: 156px;
}
.subscribe-link-one {
  padding: 20px 40px;
  border-radius: 3px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--button);
  color: var(--basic);
}
.subscribe-link-two {
  padding: 20px 40px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic);
  border: 1px solid #b04bb3;
}

/* <!-- Подвал --> */

.footer {
  background-color: var(--promotion);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-page {
  margin-top: 129px;
  margin-bottom: 20px;
  color: var(--basic);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
}

.footer-paragaph {
  margin-bottom: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* Кнопка */
.footer-button {
  display: flex;
  justify-content: center;
  margin-bottom: 146px;
}

.user-email {
  padding: 22px 155px 22px 3px;
  box-shadow: 0px 0px 0px #fc0a7e;
  border-radius: 3px 0px 0px 3px;
  color: var(--promotion);
  border: var(--basic);
}

.button {
  padding: 22px 22px;
  width: 154px;
  color: var(--promotion);
  border: var(--button);
  background-color: var(--button);
  border-radius: 0px 3px 3px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.logos {
  margin: 0px 652px 29px 652px;
}

.logos {
  margin-bottom: 29px;
}

.description {
  display: flex;
  margin: 0px 0px 69px 0px;
  padding: 0px;
}
.description-list:not(:last-child) {
  margin-right: 30px;
}

.color-link {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
